<!-- Footer Start -->
{% use 'basicTemplate/footer/modal/_modal_legalMention.html.twig' %}
<footer class="footer">
    <div class="container-fluid">
        <div class="row justify-content-center mx-0">

                {% block modalLegalMentionButton %}
                    {{ parent() }}
                {% endblock %}
        </div>
    </div>
</footer>
{% block modalLegalMention %}
    {{ parent() }}
{% endblock %}
<!-- end Footer -->