{% extends 'admin/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block section %}
    <div id="root-user-manage" data-role="{{ roleUser }}">
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mainReactManagaUser') }}
{% endblock %}
