.contact-background{
  background: url("../images/contactBg.png") center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.contact-bloc-info{
  background-color: #b23f36;
  color: #ffffff;
  font-size: 13pt;
  min-height:200px;
  max-height:100%;
  height:auto;
  border-radius: 20px;

  .reseau-img{
    position: relative;
    top:0;
    left:0;
  }
  img{
    position: relative;
    top:10%;
    left:37.5%;
  }

  p{
    position: relative;
    top:20%;
    a{
      color:#ffffff;
    }
    a:hover{
      color: #f8eac3;
    }
    a:active{
      color:#ffffff;
    }
  }
}
.contact-title{
  font-size: 22pt;
  color:#3f1915;
  text-align: center;
}
.contact-form{
  div{
    label{
      color:#3f1915;
    }
  }
}
.google-iframe{
  border: 10px solid #f8eac3;
  border-radius: 15px;
}